// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';


// Additional style for the plugin
.#{$prefix}-txtrv {
	// Extend a general input view style
	@extend %input;
	display: block;
	height: auto; //calc(var(--bld-us) * 4)
	//margin-bottom: -5px;
	padding-bottom: 0;
	overflow: hidden;
	position: relative;

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	.tp-txtrv_i {
		font-family: var(--font-family);
		background-color: var(--in-bg);
		border-radius: var(--elm-br);
		box-sizing: border-box;
		color: var(--in-fg);
		font-size: 11px;
		padding: 4px;
		line-height: 16px;
		min-width: 0;
		width: 100%;
		border: none;
		height: 100%;
		resize: none;
		margin-bottom: -8px;
	}
	.tp-txtrv_i:focus {
		outline: none;
	}
}
